@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100&display=swap");
/* --------------------- Обнуление ------------------------- */
/* Обнуляем границы */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Меняет подсчёт ширины блока  */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Делаем теги блочные */
nav,
footer,
header,
aside {
  display: block;
}

/* Уравниваем поведение шрифтов и элементов 
  у всех браузеров, а так же прописываем основной шрифт сайта*/
html,
body {
  font-family: 'lato', sans-serif;
  height: 100%;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Наследование родительских шрифтов в тегах  */
input,
button,
textarea {
  font-family: inherit;
}

/* Обнуление параметров для некоторых браузеров */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* Обнуляем заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p {
  line-height: 17px;
  color: #5D5D5D;
}

/*-----------------------------------------------------------*/
* {
  color: #444343;
}

/*wrapper
  =======================*/
.wrapper {
  margin: 0 5px;
  min-height: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.wrapper .btn__show-more {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*top
  =======================*/
.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*center
  =======================*/
.center {
  padding: 0 calc(50% - 700px) 0 calc(50% - 700px);
}

/*center
  =======================*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  border: 2px solid darkgray;
  position: relative;
  margin-bottom: 30px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  border: 2px solid darkgray;
  position: relative;
}

.card {
  background-color: white;
  border: 2px solid darkgray;
  width: 300px;
  position: absolute;
  right: calc(50% - 700px);
  top: 50px;
}

.card__heading {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__link-close {
  background-color: white;
}

.card__link-close svg {
  width: 16px;
  height: 16px;
  fill: darkgray;
}

.card__link-close svg:hover {
  fill: red;
}

.card__item--plus, .card__item--minus {
  background-color: white;
  width: 16px;
  height: 16px;
}

.card__display--none {
  display: none;
}

.card__list {
  margin: 10px;
}

.card__item--quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__item--wrapper {
  margin: 10px;
}

.card__item--wrapper hr {
  margin-top: 10px;
  border: none;
  background-color: darkgray;
  color: darkgray;
  height: 2px;
}

/*catalog
  =======================*/
.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*catalog__item
  =======================*/
.catalog__item {
  width: 220px;
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid darkgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__item img {
  width: 200px;
  height: 200px;
  border: 2px solid darkgray;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 5px;
}

.catalog__item h3 {
  padding-bottom: 5px;
}

.catalog__item p {
  padding-bottom: 10px;
}

.catalog__item .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn,
.btn__show-more,
.footer__btn {
  background-color: white;
  border-radius: 15px;
  border: 2px solid darkgray;
  width: 100px;
  height: 30px;
}

.btn:hover,
.btn__show-more:hover,
.footer__btn:hover {
  color: red;
}

.btn__show-more {
  margin-bottom: 30px;
}

.btn--delete {
  background-color: white;
  width: 100px;
  height: 16px;
}

.btn--delete:hover {
  color: red;
}

.feedback__form-input {
  display: block;
  max-width: 300px;
  padding: 14px 16px;
  border: 1px solid darkgray;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin: 20px 0;
}

.feedback__form-input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.feedback__form-input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.feedback__form-input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.feedback__form-input::placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.feedback__form-input--attention {
  border-color: red;
}
/*# sourceMappingURL=style.css.map */