@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100&display=swap");
/* --------------------- Обнуление ------------------------- */
/* Обнуляем границы */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Меняет подсчёт ширины блока  */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Делаем теги блочные */
nav,
footer,
header,
aside {
  display: block;
}

/* Уравниваем поведение шрифтов и элементов 
  у всех браузеров, а так же прописываем основной шрифт сайта*/
html,
body {
  font-family: 'lato', sans-serif;
  height: 100%;
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/* Наследование родительских шрифтов в тегах  */
input,
button,
textarea {
  font-family: inherit;
}

/* Обнуление параметров для некоторых браузеров */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* Обнуляем заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p {
  line-height: 17px;
  color: #5D5D5D;
}

/*-----------------------------------------------------------*/
@-webkit-keyframes cart {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cart {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*wrapper
  =======================*/
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

/*top
  =======================*/
.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*center
  =======================*/
.center {
  padding: 0 calc(50% - 570px) 0 calc(50% - 570px);
}

/*header
  =======================*/
.header {
  background-color: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__search-img {
  margin: 0 0 0 41px;
}

.header__account {
  margin: 0 34px 0 34px;
}

.header__checkbox:checked ~ .hamburger-menu {
  position: absolute;
  right: 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header__checkbox:checked ~ label > .header__menu--checked > .header__menu--checked-svg {
  fill: #F16D7F;
}

.header__menu--checked-svg {
  -webkit-transition: fill .15s linear;
  transition: fill .15s linear;
}

.header__menu--checked-svg:hover {
  fill: #F16D7F;
}

.header__menu--checked:hover > .header__menu--checked-svg {
  fill: #F16D7F;
}

.header__label:hover > .header__menu--checked-svg {
  fill: #F16D7F;
}

.header__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.header__menu {
  fill: #E8E8E8;
  cursor: pointer;
  -webkit-transition: fill .15s linear;
  transition: fill .15s linear;
}

.header__menu:hover {
  fill: #F16D7F;
}

/*hamburger
  =======================*/
.hamburger-menu {
  position: fixed;
  min-width: 232px;
  min-height: 764px;
  background: #FFFFFF;
  top: 75px;
  right: -232px;
  z-index: 3;
  -webkit-transition: 0.25s all;
  transition: 0.25s all;
  padding: 37px 34px;
}

.hamburger-menu__link-close {
  position: absolute;
  z-index: 5;
  top: 16px;
  right: 16px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  fill: #575757;
  -webkit-transition: fill 0.15s linear;
  transition: fill 0.15s linear;
}

.hamburger-menu__link-close:hover {
  fill: #F16D7F;
}

.hamburger-menu__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}

.hamburger-menu__subtitle {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.hamburger-menu__subtitle:hover {
  color: #e05c6e;
}

.hamburger-menu__block {
  margin-bottom: 20px;
}

.hamburger-menu__block a {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 11px;
  margin-left: 21px;
  -webkit-transition: color .15s linear;
  transition: color .15s linear;
}

.hamburger-menu__block a:hover {
  color: #F16D7F;
}

/*promo
  =======================*/
.promo {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(113, 103, 105, 0.08)), color-stop(50%, #F1E4E6));
  background: linear-gradient(to right, rgba(113, 103, 105, 0.08) 50%, #F1E4E6 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 764px;
  position: relative;
}

.promo__left {
  width: 50%;
  padding-left: calc(50% - 800px);
}

.promo__img {
  max-height: 764px;
  max-width: 100%;
}

.promo__right {
  left: 50%;
  padding-right: calc(50% - 800px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__content {
  margin: 0 0 0 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 12px solid #F16D7F;
}

.promo__heading {
  font-size: 48px;
  line-height: 58px;
  color: #222;
  text-transform: uppercase;
}

.promo__text {
  font-size: 30px;
  line-height: 36px;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
}

.promo__rad-text {
  color: #F16D7F;
}

.promo__hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/*catalog
  =======================*/
.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
}

.catalog__item {
  position: relative;
}

.catalog__item:not(:last-child) {
  margin-right: 30px;
}

.catalog__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__img {
  width: 100%;
}

.catalog__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 19px;
}

.catalog__heading {
  font-size: 25px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #F16D7F;
}

/*catalog-big
  =======================*/
.catalog-big {
  margin: 30px 0 64px 0;
}

.catalog-big__item {
  position: relative;
}

.catalog-big__img {
  width: 100%;
}

/*breadcrumb
  =======================*/
.breadcrumb {
  height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb__heading {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumb__link {
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumb__link:hover {
  color: #F16D7F;
  font-weight: 600;
}

.breadcrumb__link:not(:last-child):after {
  content: '\2002/';
  color: #636363;
}

.breadcrumb__link--active {
  color: #F16D7F;
  font-weight: 600;
}

/*sort-by
  =======================*/
.sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 119px;
}

.sort-by__filter {
  width: 390px;
  position: relative;
}

.sort-by__filter-link {
  font-weight: 600;
  line-height: 17px;
  color: #000;
}

.sort-by__filter-svg {
  margin: 0 0 0 10px;
  fill: black;
  width: 15px;
  height: 10px;
}

.sort-by__filter-svg--active {
  fill: #EF5B70;
}

.sort-by__filter-link--active {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

.sort-by__filter-link:hover + .sort-by__filter-nav {
  display: block;
}

.sort-by__filter-nav {
  width: 360px;
  position: absolute;
  padding: 16px;
  margin: -30px 0 0 0;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.sort-by__filter-nav:hover {
  display: block;
}

.sort-by__summery-category {
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #EF5B70;
  padding: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  margin: 18px 0 0 0;
}

.sort-by__summery-category::-webkit-details-marker {
  display: none;
}

.sort-by__details-li {
  padding: 11px 0 0 16px;
}

.sort-by__details-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.sort-by__details-link:hover {
  color: #EF5B70;
}

.sort-by__details-category {
  cursor: pointer;
}

.sort-by__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-by__sort--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sort-by__details:not(:last-child) {
  margin: 0 28px 0 0;
}

.sort-by__summery {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
}

.sort-by__summery:hover {
  color: #EF5B70;
}

.sort-by__summery:hover .sort-by__summery-arrow {
  fill: #EF5B70;
}

.sort-by__summery::-webkit-details-marker {
  display: none;
}

.sort-by__summery-arrow {
  fill: #6F6E6E;
  margin: 0 0 1px 10px;
}

.sort-by__summery-arrow:hover {
  fill: #EF5B70;
  margin: 0 0 1px 10px;
}

.sort-by__size {
  padding: 9px 30px 9px 9px;
  margin: 5px 0 0 0;
  position: absolute;
  background: #FFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sort-by__size-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort-by__size-box:not(:last-child) {
  margin: 0 0 9px 0;
}

.sort-by__size-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  margin: 0 0 0 9px;
  cursor: pointer;
}

.sort-by__size-input {
  margin-top: 2px;
}

/*product-description
  =======================*/
.product-description__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F7F7F7;
  position: relative;
}

.product-description__img {
  padding: 11px 0 42px 0;
  max-width: 100%;
}

/*description
  =======================*/
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 0;
  border: 1px solid #EAEAEA;
  position: relative;
  margin: -60px 0 0 0;
  background: #FFF;
}

.description__inner {
  max-width: 610px;
  margin-bottom: 64px;
  text-align: center;
}

.description__heading {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  opacity: .8;
}

.description__border {
  display: inline-block;
  width: 63px;
  height: 3px;
  background: #EF5B70;
  margin: 12px 0;
}

.description__subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  opacity: .8;
}

.description__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin: 48px 0 32px 0;
  opacity: .8;
  max-width: 555px;
}

.description__price {
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  opacity: .8;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 64px;
  max-width: 641px;
  margin: 0 auto;
}

/*products
  =======================*/
.products {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 14px 0 18px 0;
  text-align: center;
}

.products__product--mb {
  margin-top: 129px;
  margin-bottom: 98px;
}

.products__heading {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 19px 0 6px 0;
}

.products__heading-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin: 0 0 48px 0;
  opacity: 0.8;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__item {
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
  width: 360px;
  text-align: left;
  background-image: url("../img/products__item-bg.png");
}

.products__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.products__item--mb {
  margin: 0 0 30px 0;
}

.products__item-inner {
  position: relative;
}

.products__item-inner:hover .products__add {
  opacity: 1;
}

.products__img-item {
  width: 100%;
}

.products__add {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0;
}

.products__add-to {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 70px);
  z-index: 2;
}

.products__img-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.products__heading-item {
  display: block;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin: 24px 0 12px 18px;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.products__heading-item:hover {
  color: #F16D7F;
}

.products__text {
  line-height: 19px;
  margin: 0 28px 0 18px;
  opacity: 0.8;
}

.products__price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 18px 0 20px 18px;
}

/*shopping
  =======================*/
.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 96px 0 128px 0;
}

.shopping__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__form {
  width: 360px;
}

.shopping__form-heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shopping__form-input {
  display: block;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #A4A4A4;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin: 20px 0;
}

.shopping__form-input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.shopping__form-input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.shopping__form-input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.shopping__form-input::placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.shopping__form-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  padding: 14px 16px;
  border: 1px solid #A4A4A4;
  font-size: 11px;
  line-height: 13px;
  color: rgba(74, 74, 74, 0.8);
  -webkit-transition: .15s linear;
  transition: .15s linear;
  cursor: pointer;
}

.shopping__form-submit:hover {
  background: #F16D7F;
  border: 1px solid #F16D7F;
  color: #FFF;
}

.shopping__form-checkbox {
  padding: 42px;
  background: #F5F3F3;
  text-align: right;
}

.shopping__form-hr {
  width: 100%;
  background: #E2E2E2;
  margin: 21px 0 17px 0;
  height: 1px;
}

.shopping__form-checkbox--mb {
  margin: 57px 0 0 0;
}

.shopping__form-checkout {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 0;
  color: #FFF;
  -webkit-transition: .15s linear;
  transition: .15s linear;
  cursor: pointer;
}

.shopping__form-checkout:hover {
  background-color: #e05c6e;
}

.shopping__form-subtotal {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin: 0 0 12px 0;
}

.shopping__form-grandtotal {
  font-size: 16px;
  line-height: 19px;
  color: #222;
}

.shopping__form-span {
  padding: 0 0 0 12px;
}

.shopping__form-span--color {
  font-weight: 900;
  color: #F16D7F;
}

/*cart
  =======================*/
.cart {
  width: 652px;
  min-height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  margin: 0 0 30px 0;
  -webkit-animation: cart 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s both;
  animation: cart 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s both;
}

.cart__img {
  max-height: 306px;
}

.cart__info {
  padding: 22px 22px 22px 31px;
  width: 100%;
}

.cart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__title {
  width: 262px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 42px;
}

.cart__title:hover {
  color: #F16D7F;
}

.cart__link-close {
  margin-top: 6px;
}

.cart__link-svg {
  cursor: pointer;
  margin-top: 6px;
  fill: #575757;
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
  width: 18px;
  height: 18px;
}

.cart__link-svg:hover {
  fill: #F16D7F;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cart__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding: 0 0 6px 0;
}

.cart__text--color {
  color: #EF5B70;
}

.cart__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__number {
  margin-left: 22px;
  border: 1px solid #EAEAEA;
  width: 43px;
  height: 24px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  -moz-appearance: textfield;
}

.cart__number::-webkit-inner-spin-button {
  display: none;
}

.cart__empty {
  -webkit-animation: none;
          animation: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart__empty > .cart__title {
  text-transform: none;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 32px;
}

.cart__empty > .cart__title:hover {
  color: #222;
}

/*registration
  =======================*/
.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 64px 0 96px 0;
}

.registration__form {
  width: 360px;
}

.registration__form-heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  opacity: 0.8;
}

.registration__form-heading--mb {
  margin-top: 33px;
}

.registration__form-input {
  display: block;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #A4A4A4;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin: 20px 0;
}

.registration__form-input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form-input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form-input::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form-input::placeholder {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form-checkout {
  width: 167px;
  margin-top: 39px;
  background: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 0;
  color: #FFF;
  -webkit-transition: .15s linear;
  transition: .15s linear;
}

.registration__form-checkout:hover {
  background-color: #e05c6e;
}

.registration__form-checkout::after {
  content: url("../img/arrow.svg");
  padding-left: 22px;
}

.registration__form-chackbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.registration__form-chackbox + label {
  position: relative;
  padding: 0 20px 0 35px;
  cursor: pointer;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration__form-chackbox + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  border-radius: 50%;
  background: #FFF;
}

.registration__form-chackbox + label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #F16D7F;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: .15s;
  transition: .15s;
}

.registration__form-chackbox:checked + label:after {
  opacity: 1;
}

.registration__form-password {
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  opacity: 0.8;
}

.registration__descriptoin {
  width: 652px;
  margin-left: 22px;
}

.registration__descriptoin-heading {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  opacity: .8;
  padding-bottom: 22px;
}

.registration__descriptoin-text {
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  opacity: .8;
  padding-bottom: 22px;
}

.registration__descriptoin-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  opacity: .8;
  padding-bottom: 16px;
}

.registration__descriptoin-element::before {
  content: url("../img/Vector.svg");
  padding-right: 22px;
  display: block;
}

/*browse-button
  =======================*/
.browse-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.browse-button__link {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 211px;
  height: 48px;
  border: 1px solid #FF6A6A;
}

.browse-button__link:hover {
  background-color: #F26376;
}

.browse-button__link:hover .browse-button__svg {
  fill: #fff;
}

.browse-button__link:hover .browse-button__text {
  color: #fff;
}

.browse-button__index--mb {
  margin: 18px 0 96px 0;
}

.browse-button__product--mb {
  margin-top: 48px;
}

.browse-button__shopping--mb {
  margin-top: 42px;
  border: 1px solid #A4A4A4;
  width: 100%;
  padding: 0 39px;
}

.browse-button__shopping--mb:hover {
  border: 1px solid #FF6A6A;
}

.browse-button__svg {
  display: block;
  margin-right: 24px;
  fill: #EF5B70;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.browse-button__text {
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  color: #F26376;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.browse-button__text--shopping {
  color: #000000;
}

/*switch
  =======================*/
.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 96px 0;
}

.switch__inner {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  padding: 15px;
}

.switch__link {
  display: inline-block;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #5D5D5D;
  opacity: .4;
  -webkit-transition: .15s linear;
  transition: .15s linear;
}

.switch__link:hover {
  color: #EF5B70;
  opacity: 1;
}

.switch__link:not(:nth-last-child(2)) {
  padding: 0 0 0 15px;
}

.switch__link--active {
  color: #EF5B70;
  opacity: 1;
}

.switch__link--arrow:not(:first-child) {
  margin: 0 0 -1px 15px;
}

.switch__img-arrow {
  margin: 0 0 -1px 0;
  fill: black;
  -webkit-transition: .15s linear;
  transition: .15s linear;
}

.switch__img-arrow:hover {
  fill: #EF5B70;
}

.switch__ellipsis-span {
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #5D5D5D;
  opacity: .4;
}

/*feature
  =======================*/
.feature {
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 104px;
  padding-bottom: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__item {
  text-align: center;
  max-width: 360px;
}

.feature__img {
  margin: 0 0 28px 0;
}

.feature__heading {
  font-weight: 600;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 0 0 16px 0;
}

.feature__text {
  font-size: 14px;
  line-height: 17px;
}

/*Subscribe
  =======================*/
.Subscribe {
  background-color: rgba(244, 244, 244, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 86px;
  padding-bottom: 156px;
  background-image: url("../img/Subscribe.png");
  background-position: center;
  background-repeat: no-repeat;
}

.Subscribe__info {
  max-width: 360px;
  text-align: center;
}

.Subscribe__img {
  margin: 0 0 30px 0;
}

.Subscribe__text {
  font-size: 20px;
  line-height: 24px;
  color: #222;
}

.Subscribe__form {
  max-width: 557px;
  text-align: center;
}

.Subscribe__heading {
  font-size: 24px;
  line-height: 167.2%;
  text-transform: uppercase;
}

.Subscribe__text-form {
  color: #222;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 167.2%;
  margin: 0 0 32px 0;
}

.Subscribe__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Subscribe__input {
  max-width: 256px;
  height: 49px;
  background: #E1E1E1;
  border-radius: 25px 0 0 25px;
  padding: 0 20px 0 20px;
}

.Subscribe__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  background: #F16D7F;
  height: 49px;
  display: block;
  border-radius: 0 25px 25px 0;
  font-family: 'lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.Subscribe__button:hover {
  background: #E05C6E;
}

/*footer
  =======================*/
.footer {
  min-height: 79px;
  background: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(251, 251, 251, 0.8);
}

.footer__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
  position: relative;
}

.footer__link:not(:last-child) {
  margin: 0 7px 0 0;
}

.footer__link:hover {
  background-color: #F16D7F;
}

.footer__link:hover .footer__img {
  fill: white;
}

.footer__img {
  position: absolute;
  fill: black;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

/*adaptive
  =======================*/
@media (max-width: 1172px) {
  .center {
    padding-right: 16px;
    padding-left: 16px;
  }
  .description {
    margin-right: calc(-16px + 16*((100vw - 1140px)/32));
    margin-left: calc(-16px + 16*((100vw - 1140px)/32));
  }
}

@media (max-width: 1139px) {
  .hamburger-menu {
    min-width: 348px;
    right: -348px;
  }
  .hamburger-menu__link-close {
    top: 24px;
    right: 24px;
    width: 18px;
    height: 18px;
  }
  .hamburger-menu__title {
    font-size: 21px;
    line-height: 26px;
  }
  .hamburger-menu__subtitle {
    font-size: 21px;
    line-height: 26px;
  }
  .hamburger-menu__block a {
    font-size: 21px;
    line-height: 26px;
  }
  .description {
    margin-right: -16px;
    margin-left: -16px;
  }
  .promo__heading {
    font-size: calc(44px + 4*((100vw - 768px)/372));
    line-height: calc(52px + 5*((100vw - 768px)/372));
  }
  .promo__text {
    font-size: calc(24px + 6*((100vw - 768px)/372));
    line-height: calc(28px + 10*((100vw - 768px)/372));
  }
  .promo__content {
    margin-left: calc(40px + 24*((100vw - 768px)/372));
  }
  .catalog {
    padding-top: calc(19px + 45*((100vw - 768px)/372));
  }
  .catalog__item:not(:last-child) {
    margin-right: calc(19px + 11*((100vw - 768px)/372));
  }
  .catalog-big {
    margin-top: calc(19px + 11*((100vw - 768px)/372));
  }
  .sort-by {
    height: calc(67px + 52*((100vw - 768px)/372));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products__items {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 16px;
  }
  .products__item--mb {
    margin-bottom: calc(18px + 12*((100vw - 768px)/372));
  }
  .products__item-last {
    display: none;
  }
  .switch {
    margin-bottom: calc(64px + 32*((100vw - 768px)/372));
  }
}

@media (max-width: 992px) {
  .shopping {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 59px;
  }
  .shopping__form {
    width: 100%;
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shopping__input {
    width: 360px;
  }
  .shopping__form-checkbox {
    width: 360px;
  }
  .shopping__form-checkbox--mb {
    margin: 0;
  }
  .shopping__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: calc(9px + 39*((100vw - 375px)/617));
  }
  .shopping__cart-list {
    width: 100%;
  }
  .cart {
    width: 100%;
    -webkit-animation: none;
    animation: none;
  }
  .browse-button__index--mb {
    margin: 16px 0 65px 0;
  }
  .registration {
    margin-top: calc(40px + 24*((100vw - 768px)/224));
  }
  .registration__form {
    min-width: 360px;
  }
  .registration__descriptoin-heading {
    font-size: calc(16px + 8*((100vw - 768px)/224));
    line-height: calc(19px + 10*((100vw - 768px)/224));
  }
  .registration__descriptoin-text {
    font-size: calc(16px + 8*((100vw - 768px)/224));
    line-height: calc(19px + 10*((100vw - 768px)/224));
  }
  .registration__descriptoin-element {
    font-size: calc(16px + 8*((100vw - 768px)/224));
    line-height: calc(19px + 10*((100vw - 768px)/224));
  }
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 64px 0;
  }
  .feature__item {
    margin: 48px 0 0 0;
  }
  .Subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 54px;
    padding-bottom: 104px;
    background-size: cover;
  }
  .Subscribe__form {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .center {
    padding-right: 16px;
    padding-left: 16px;
  }
  .header__cart {
    display: none;
  }
  .header__account {
    display: none;
  }
  .hamburger-menu {
    min-width: 100vw;
    right: -100vw;
  }
  .hamburger-menu__link-close {
    top: 32px;
    right: 32px;
    width: 24px;
    height: 24px;
  }
  .hamburger-menu__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 48px;
  }
  .hamburger-menu__subtitle {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 24px;
  }
  .hamburger-menu__block a {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 40px;
  }
  .breadcrumb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .breadcrumb__nav {
    padding-top: 32px;
  }
  .sort-by {
    height: 81px;
  }
  .sort-by__filter {
    width: 38px;
  }
  .sort-by__filter-nav {
    width: 343px;
  }
  .sort-by__filter-modile {
    display: none;
  }
  .sort-by__filter-svg {
    width: 38px;
    height: 25px;
    margin: 0 auto;
  }
  .sort-by__details:not(:last-child) {
    margin-right: 24px;
  }
  .sort-by__summery {
    font-size: 12px;
    line-height: 14px;
  }
  .promo {
    background: #F1E4E6;
    height: 363px;
  }
  .promo__left {
    display: none;
  }
  .promo__right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo__content {
    margin-left: 0;
  }
  .promo__heading {
    font-size: calc(38px + 6*((100vw - 375px)/393));
    line-height: calc(45px + 7*((100vw - 375px)/393));
  }
  .promo__text {
    font-size: calc(20px + 4*((100vw - 375px)/393));
    line-height: calc(24px + 4*((100vw - 375px)/393));
  }
  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 64px;
  }
  .catalog__item {
    margin-bottom: 32px;
    margin-right: 0px;
  }
  .catalog__item:not(:last-child) {
    margin-right: 0px;
  }
  .catalog-big {
    margin: 0 0 32px 0;
  }
  .catalog-big__img {
    height: 111px;
  }
  .shopping {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 59px;
    margin-bottom: 96px;
  }
  .shopping__form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shopping__input {
    width: 100%;
  }
  .shopping__form-checkbox--mb {
    margin-top: 48px;
  }
  .shopping__form-checkbox {
    width: 100%;
  }
  .cart {
    min-height: 0;
    height: calc(188px + 118*((100vw - 375px)/393));
  }
  .cart__img {
    max-height: 100%;
  }
  .cart__info {
    padding: 13px 12px 17px 17px;
  }
  .cart__title {
    font-size: calc(16px + 8*((100vw - 375px)/393));
    line-height: calc(19px + 10*((100vw - 375px)/393));
    margin-bottom: calc(25px + 17*((100vw - 375px)/393));
    width: 100%;
  }
  .cart__text {
    font-size: calc(14px + 8*((100vw - 375px)/393));
    line-height: calc(17px + 9*((100vw - 375px)/393));
  }
  .cart__number {
    width: calc(23px + 20*((100vw - 375px)/393));
    height: calc(14px + 10*((100vw - 375px)/393));
    font-size: calc(10px + 8*((100vw - 375px)/393));
    line-height: calc(12px + 10*((100vw - 375px)/393));
  }
  .products__item--mb {
    margin-top: 0px;
    margin-bottom: 16px;
  }
  .products__product--mb {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  .switch {
    margin-bottom: 64px;
  }
  .browse-button__shopping--mb {
    padding: 0;
  }
  .browse-button__text--shopping {
    font-size: 12px;
    line-height: 14px;
  }
  .browse-button__product--mb {
    margin-top: 64px;
  }
  .browse-button__shopping--mobile {
    width: 100%;
  }
  .registration {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .registration__form {
    min-width: 0px;
    width: 100%;
  }
  .registration__descriptoin {
    width: 100%;
    margin-left: 0px;
    margin-top: 40px;
  }
  .registration__descriptoin-heading {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__descriptoin-text {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__descriptoin-element {
    font-size: 16px;
    line-height: 19px;
  }
  .description__inner {
    margin-bottom: 50px;
  }
  .description__text {
    max-width: calc(326px + 229*((100vw - 375px)/393));
    line-height: 20px;
  }
  .description__price {
    line-height: 130%;
    padding-bottom: 32px;
    max-width: 174px;
  }
  .Subscribe__text {
    font-size: 18px;
    line-height: 22px;
  }
  .Subscribe__text-form {
    font-size: 14px;
    line-height: 22px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-bottom: 9px;
    padding-top: 43px;
  }
  .footer__social-icon {
    padding-bottom: 40px;
  }
}

@media (max-width: 374px) {
  .sort-by__summery-arrow {
    display: none;
  }
  .sort-by__filter-nav {
    width: calc(288px + 55*((100vw - 320px)/55));
  }
}
/*# sourceMappingURL=style.css.map */