$pageColor: darkgray;

@mixin calc-value($property, $startSize, $endSize, $startWidth, $endWidth) {
    #{$property}: calc(#{$endSize + px} + #{$startSize - $endSize}*((100vw - #{$endWidth + px})/#{$startWidth - $endWidth}))
}

// startWidth - ширина с которой начинается уменьшение
// $endWidth - ширина до которой уменьшается
// $startSize - начальное значение свойства до уменьшения
// $endSize - конечное значение свойства
// $property - имя свойства селектора